<form class="mt-4 ms-5 me-5 col-md-6">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input
      type="email"
      name="email"
      [(ngModel)]="Newuser.email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Enter email"
    />
  </div>

  <div class="form-group col col-md-6">
    <label for="name">User name</label>
    <input class="form-control" name="name" [(ngModel)]="Newuser.name" type="text" placeholder="user name" />
  </div>

  <div class="col-md-12 d-flex">
    <div class="form-group pe-2">
      <label for="exampleInputPassword1">Create password</label>
      <input
        name="password"
        type="password"
        [(ngModel)]="Newuser.password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Password"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Repeat password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Password"
      />
    </div>
  </div>
  <!-- <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div> -->
  <button type="submit" class="btn btn-success mt-3" (click)="enviar()">Submit</button>
</form>
